<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <title>个人信息</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" media="all">
    <link th:href="@{/static/css/common.css}" rel="stylesheet">
    <link th:href="@{/static/css/login.css}" rel="stylesheet">
    <script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>

</head>
<body>

<!--······················导航栏···························-->
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="text-shadow: 3px 3px 2px #ffbf00;font-size: 25px;font-family:arial;color: #ff6600;">EatingWhat2.0</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a th:href="@{/customer/toHome}">HOME</a></li>
            <li class="layui-nav-item"><a th:href="@{/store/toStreet}">美食街</a></li>
            <li class="layui-nav-item">
                <a th:href="@{/ordering/toOrderingCheck}">我的订单</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/ordering/toOrderingCheck}">查看订单</a></dd>
                    <dd><a th:href="@{/evaluation/toEvaluationCheck}">我的评价</a></dd>
                </dl>
            </li>
        </ul>



        <!--未登陆-->
        <span th:if="${session.loginBean==null}">
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <dd><a th:href="@{/customer/toLogin}">登陆/注册</a></dd>
                </li>
            </ul>
        </span>


        <!--登陆成功-->
        <span th:if="${session.loginBean!=null}">
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                         <img th:src="@{/static/upload/{loginBeanImageName}(loginBeanImageName=${session.loginBean.image})}" class="layui-nav-img">
                        <span th:text="${session.loginBean.name}"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/customer/toCustomerInfo}">个人信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a th:href="@{/customer/logout}">注销</a></li>
            </ul>
        </span>

    </div>
</div>
<!--······················导航栏结束···························-->

<div  style="width: 75%;margin:0px auto; " >
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>个人信息</legend>
    </fieldset>


    <div style="width:70%;height: 100px;display: flex;justify-content: center;margin:0px auto;">
        <div style="border-radius: 50%;height:100px;width: 100px;background-color: #2D93CA;overflow: hidden; ">
            <img alt="头像" th:src="@{/static/upload/{loginBeanImage}(loginBeanImage=${session.loginBean.image})}" style="width: 100px; height: 100px;">
        </div>

        <div style="flex:1">

            <dl style="width: 80%;margin: 0px auto">
                <dt style="line-height: 50px">ID:[[${session.loginBean.id}]]</dt>
                <dt style="line-height: 50px">
                    <button class="headPortrait">修改头像</button>

                </dt>

            </dl>
            <div style="width: 80%;margin: 0px auto">
                <table class="layui-table" lay-even="" lay-skin="nob">
                    <colgroup>
                        <col width="150">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>姓名：</th>
                        <th>[[${session.loginBean.name}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>联系方式：</td>
                        <td>[[${session.loginBean.phone}]]</td>

                    </tr>

                    <tr>
                        <td>注册时间：</td>
                        <td>
                            <span th:text="${#dates.format(session.loginBean.regDate, 'yyyy-MM-dd HH:mm:ss')}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>上一次登陆时间：</td>
                        <td>
                            <span th:text="${#dates.format(session.loginBean.lastLoginDate, 'yyyy-MM-dd HH:mm:ss')}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>配送地址：</td>
                        <td>[[${session.loginBean.address}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>




<!--UI的最终呈现得益于 Form模块 的全自动渲染，她将原本普通的诸如select、checkbox、radio等元素重置为你所看到的模样。-->
<script>
    //Demo
    layui.use(['form','upload','layer'], function(){
        var layer = layui.layer;
        var upload = layui.upload;
        //layui单图片上传
        var uploadInst = upload.render({
            elem: '.headPortrait' //绑定元素
            ,url: '/customer/upload?id='+[[${session.loginBean.id}]] //在 choose 回调之后、done/error 回调之前触发。返回的参数完全类似 choose 回调。
            ,acceptMime: 'image/*'
            ,before: function(obj){ //上传完毕前的loading
                layer.load(); //上传loading
            }
            ,done: function(data){
                window.location.reload();
            }
            ,error: function(){
                alert("回调失败");
                //请求异常回调
            }
        });
    });



</script>
</body>
</html>