
.store{
    display: flex;
    height: 100%;
    width: 778px;
    background-color: #fdbd0f;
}

.left{
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.middle{
    height: 100px;

    flex: 1;
    line-height: 33px;

    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}


.right{
    height: 100px;
    width: 100px;

    color:red;
    font-weight: bold;
    text-align: center;
    line-height: 100px;


}


.t1{

    font-size: 18px;
    font-weight: bold;
}
.t2{

    font-size: 14px;
    color: white;
}
.t3{

    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}